#colophon {
	background: #ccc;
	padding: 1rem 0;
	color: transparentize(#000, .7);

	ul {
		display: inline-block;
	}
}

.site-footer {
	text-align: center;

	p {
		font-size: 0.75rem;
  		color: #777777;
	}
}
