#masthead {
	background: #FFFFFF;
}

.site-branding {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	text-align: center;

    img.site-logo {
        width: auto; /*or your image's width*/
        height: auto; /*or your image's height*/
        margin: 0;
        padding: 0;
        max-height: 400px;
    }
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #000000;

	ul {
		margin: 0;

		li {
			text-align: center;

			a {
				background: #000000;
		  		color: #FFFFFF;
			}

			a:hover {
				color: #00a651;
			}
		}
	}

	.primary-navigation {
		background: #000000;
		padding: 0;
	}

	.primary-menu li.active a {
		background-color: #008cba;
	}

	.menu.vertical > li {
		border-bottom: 1px solid #FFFFFF;
	}
}

// Medium screens
@media only screen and (min-width: 40.063em) { 

	.main-navigation .menu.vertical > li {
		border: none;
	}

}
